{% extends 'base.html' %}
{% block content %}

  <div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card">
      <div class="card-body">
        <h1>Register</h1>
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group row">
                <label class="col-4 col-form-label">{{ field.label }}:</label>
                <div class="col-8">
                  {{ field }}
                </div>
              </div>
            {% endfor %}
            <div class="form-group row">
              <div class="offset-4">
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
            </div>
          </form>
        <div class="card-footer mt-3">
          Have an account? <a href="{% url 'webble:login' %}">Login</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}