{% extends 'base.html' %}
{% block title %}
{{ book.title }}
{% endblock %}
{% block content %}

<!-- Book detail container -->
<div class="container mt-4">
  <div class="card mb-3">
    <div class="row g-1">
      <div class="col-md-4">
        <img class="card-img image-card" src="{{ book.cover_image.url }}" alt="Book Cover">
      </div>
      <div class="col-md-8">
        <div class="card-header">
          <h1 class="text-center">'{{ book.title }}'</h1>
          <h6 class="text-center">By: {{ book.authors.all|join:", " }}</h6>
          <h6 class="text-center">Published: {{ book.publish_date }}</h6>
        </div>
        <div class="card-body">
          <p class="card-text">{{ book.description }}</p>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <a href="{% url 'webble:add_review' book.pk %}" class="btn btn-primary">Leave a Review</a>
      <a href="{% url 'webble:read_book' book.title 1 %}" class="btn btn-primary">Read</a>
    </div>
  </div>
</div>

<!-- Similar books container -->
<div class="container mt-4">
  <div class="card text-center" style="background-color:#ECF0F1;">
    <h3>Similar books:</h3>
  </div>
  <div class="row justify-content-center mt-4">
    {% for book in similar_books %}
    <div class="col-lg-2">
      <div class="card text-center">
        <div class="card-header">
          <small>{{ book.title|truncatechars:20 }}</small>
        </div>
        <div class="card-body">
          <div class="card">
            <a href="{% url 'webble:book_detail' book.pk %}">
              <img src="{{ book.cover_image.url }}" class="card-img-top" style="object-fit: contain; height: 200px;">
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Reviews container -->
<div class="container mt-4">
  <div class="card text-center" style="background-color:#ECF0F1;">
    <h3>Reviews:</h3>
  </div>
  <div class="container mt-4">
    {% if reviews %}
    {% for review in reviews %}
    <div class="card">
      <div class="card-header">
        <strong>{{ review.user }}</strong>
        <small>{{ review.date }}</small><br>
        <small>{{ review.rating }}</small><br>
      </div>
      <div class="card-body">
        <p class="card-text">{{ review.review }}</p>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="card">
      <div class="card-text">
        <small>No reviews</small>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}